
/* DN */
.article__premium-content {
  display: block !important;
}
.paywall__container {
  display: none !important;
}
.article__body--mask .article__lead {
  max-height: none !important;
}

.article__body--mask .article__lead:after {
  display: none !important;
}

#pwOverlay {
  display: none;
}

/* SVD */
html {
  overflow: visible !important;
}

#ad-blocker-dialog-popup {
  display: none;
}